- Read the three files into python as dataframes
- Show the DataFrame's shape.

In [85]:
import pandas as pd
file1 = pd.read_csv('file1.csv')
file1.shape

(4008, 11)

In [86]:
file2 = pd.read_csv('file2.csv')
file2.shape

(996, 11)

In [87]:
file3 = pd.read_csv('file3.csv')
file3.shape

(7070, 11)

- Standardize header names.

In [88]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [89]:
file1.columns = list(map(lambda el: el.upper(), file1.columns))

In [90]:
file1.head(10)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

In [91]:
file2.columns = list(map(lambda el: el.upper(), file2.columns))
file2.head(10)

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,TOTAL CLAIM AMOUNT,POLICY TYPE,VEHICLE CLASS
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
5,WL99637,Arizona,M,Bachelor,761413.80%,27293,96,1/0/00,469.030907,Personal Auto,Two-Door Car
6,UC84059,California,F,Master,689845.53%,70950,171,1/0/00,565.929394,Personal Auto,Sports Car
7,HW62747,Oregon,M,College,229837.92%,0,63,1/0/00,302.400000,Corporate Auto,Four-Door Car
8,BH11344,Oregon,F,Doctor,280669.61%,37009,71,1/0/00,145.673348,Corporate Auto,Two-Door Car
9,TX28465,Nevada,M,College,520611.82%,52629,65,1/0/00,136.684141,Personal Auto,Four-Door Car

In [92]:
file3.columns = list(map(lambda el: el.upper(), file3.columns))
file3.head(10)

,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,EDUCATION,GENDER,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,TOTAL CLAIM AMOUNT,VEHICLE CLASS
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
5,VI78454,Arizona,2750.705045,College,M,51789,70,0,Personal Auto,336.000000,Four-Door Car
6,FP59138,Oregon,13024.130120,Master,M,0,125,0,Personal Auto,900.000000,SUV
7,XN62489,Oregon,2538.626320,Bachelor,M,18608,71,0,Corporate Auto,340.800000,Four-Door Car
8,GP66031,California,2585.955652,College,F,83758,64,0,Corporate Auto,106.591949,Two-Door Car
9,IX68587,Nevada,5096.673223,Master,F,22886,65,0,Personal Auto,312.000000,Four-Door Car

In [93]:
file1.columns

Index(['CUSTOMER', 'ST', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT'],
      dtype='object')

In [94]:
file2.columns

Index(['CUSTOMER', 'ST', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'TOTAL CLAIM AMOUNT', 'POLICY TYPE', 'VEHICLE CLASS'],
      dtype='object')

In [95]:
file3.columns

Index(['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'],
      dtype='object')

In [96]:
file1 = file1.rename(columns={'ST':'STATE'})
file1.columns

Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT'],
      dtype='object')

In [97]:
file2 = file2.rename(columns={'ST':'STATE'})
file2.columns

Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'TOTAL CLAIM AMOUNT', 'POLICY TYPE', 'VEHICLE CLASS'],
      dtype='object')

- Rearrange the columns in the dataframe as needed.

In [98]:
file2 = file2[['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE','INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS','POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT']]
file2.head(10)

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.200000
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.200000
5,WL99637,Arizona,M,Bachelor,761413.80%,27293,96,1/0/00,Personal Auto,Two-Door Car,469.030907
6,UC84059,California,F,Master,689845.53%,70950,171,1/0/00,Personal Auto,Sports Car,565.929394
7,HW62747,Oregon,M,College,229837.92%,0,63,1/0/00,Corporate Auto,Four-Door Car,302.400000
8,BH11344,Oregon,F,Doctor,280669.61%,37009,71,1/0/00,Corporate Auto,Two-Door Car,145.673348
9,TX28465,Nevada,M,College,520611.82%,52629,65,1/0/00,Personal Auto,Four-Door Car,136.684141

In [99]:
file2.columns

Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT'],
      dtype='object')

In [100]:
file3 = file3[['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER LIFETIME VALUE','INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS','POLICY TYPE', 'VEHICLE CLASS', 'TOTAL CLAIM AMOUNT']]
file3.head(10)

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000
3,KX23516,California,F,High School or Below,4455.843406,0,121,0,Personal Auto,SUV,699.615192
4,FN77294,California,M,High School or Below,7704.958480,30366,101,2,Personal Auto,SUV,484.800000
5,VI78454,Arizona,M,College,2750.705045,51789,70,0,Personal Auto,Four-Door Car,336.000000
6,FP59138,Oregon,M,Master,13024.130120,0,125,0,Personal Auto,SUV,900.000000
7,XN62489,Oregon,M,Bachelor,2538.626320,18608,71,0,Corporate Auto,Four-Door Car,340.800000
8,GP66031,California,F,College,2585.955652,83758,64,0,Corporate Auto,Two-Door Car,106.591949
9,IX68587,Nevada,F,Master,5096.673223,22886,65,0,Personal Auto,Four-Door Car,312.000000

In [101]:
file1.head(2)

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935

In [102]:
file2.head(2)

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.6
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.2

In [103]:
file3.head(2)

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912

- Concatenate the three dataframes

In [104]:
merged_files = pd.concat([file1,file2,file3], axis=0)
merged_files.shape

(12074, 11)

In [105]:
merged_files.dtypes

CUSTOMER                      object
STATE                         object
GENDER                        object
EDUCATION                     object
CUSTOMER LIFETIME VALUE       object
INCOME                       float64
MONTHLY PREMIUM AUTO         float64
NUMBER OF OPEN COMPLAINTS     object
POLICY TYPE                   object
VEHICLE CLASS                 object
TOTAL CLAIM AMOUNT           float64
dtype: object

- Which columns are numerical?

In [106]:
merged_files._get_numeric_data().columns

Index(['INCOME', 'MONTHLY PREMIUM AUTO', 'TOTAL CLAIM AMOUNT'], dtype='object')

- Which columns are categorical?

In [107]:
all_col = merged_files.columns
num_col = merged_files._get_numeric_data().columns

In [108]:
list(set(all_col) - set(num_col))

['CUSTOMER LIFETIME VALUE',
 'EDUCATION',
 'STATE',
 'CUSTOMER',
 'GENDER',
 'POLICY TYPE',
 'NUMBER OF OPEN COMPLAINTS',
 'VEHICLE CLASS']

 - Understand the meaning of all columns

In [109]:
merged_files['STATE'].unique()
# for Arizona we have two different values: Arizona and AZ
# for Washington we have two different values: Washington and WZ

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [110]:
merged_files['GENDER'].unique()
# for Female we have different values: F, Femal and female
# for Male we have different values: M and Male

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [111]:
merged_files['CUSTOMER LIFETIME VALUE'].unique()

array([nan, '697953.59%', '1288743.17%', ..., 8163.890428, 7524.442436,
       2611.836866], dtype=object)

In [112]:
merged_files['INCOME'].unique()

array([    0., 48767., 36357., ..., 66367., 71941., 21941.])

In [113]:
merged_files['MONTHLY PREMIUM AUTO'].unique()

array([ 1000.,    94.,   108.,   106.,    68.,    69.,    67.,   101.,
          71.,    93.,   110.,    70.,    64.,    72.,    74.,    79.,
          73.,    61.,   111.,    80.,    63.,   237.,    65.,   130.,
          62.,   117.,    91.,    90.,    66.,    99.,   103., 35354.,
         172.,    92.,   104.,   113.,   124.,   105.,   100.,   112.,
          97.,    95.,   102.,    96.,   186.,    77.,    76.,   119.,
          87.,   109.,   107.,    88.,    85.,  6464.,   133.,    86.,
          78.,    89.,   192.,   118.,   140.,   127.,   126.,    82.,
         115.,   217.,   114.,   138.,    81.,   255.,   150.,   123.,
         116.,   190.,    98.,   159.,    84.,    83.,   152.,   136.,
         245.,   135.,  1005.,   225.,   132.,   153.,   121.,   139.,
         154.,   161.,   156.,   171.,   244.,   183.,   176.,   230.,
         129.,   177.,   181.,   196.,   131.,   276.,   253.,   137.,
         180.,   203.,   147.,   165.,   198.,   125.,   193.,   128.,
         271.,   142., 10202.,   206.,   182.,   189.,   160.,   295.,
         210.,   134., 35353.,   239.,   188.,   256.,   173.,   285.,
         148.,   141.,   197.,   199.,    nan,   214.,   175.,   167.,
         194.,   164.,   222.,   215.,   283.,   169.,   248.,   223.,
         151.,   213.,   145.,   185.,   287.,   297.,  5353.,   201.,
         149.,   146.,  7575.,   235.,   268.,   211.,   187.,   168.,
         122.,   143.,   155.,   166.,   212.,   249.,   240.,   191.,
         195.,   216.,   144.,   179.,   232.,   158.,   207.,   184.,
         238.,   229.,   220.,   178.,   204.,   281.,   170.,   234.,
         218.,   275.,   209.,   261.,   157.,   205.,   228.,   242.,
         284.,   231.,   208.,   296.,   202.,   162.,   274.,   219.,
         247.,   290.,   226.,   163.,   298.,   266.,   254.,   252.,
         174.,   286.])

In [114]:
merged_files['POLICY TYPE'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [115]:
merged_files['VEHICLE CLASS'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

In [116]:
merged_files['TOTAL CLAIM AMOUNT'].unique()

array([   2.704934, 1131.464935,  566.472247, ...,  541.282007,
        198.234764,  790.784983])

In [117]:
merged_files.head(20)

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,482.400000
11,VQ65197,California,NaN,College,819719.71%,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,881901.89%,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,538443.17%,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
16,FV94802,Nevada,NaN,High School or Below,256686.78%,25049.0,67.0,1/0/00,Personal Auto,Two-Door Car,454.245098
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
18,WC83389,Oregon,NaN,College,571033.31%,51148.0,72.0,1/0/00,Personal Auto,Four-Door Car,308.981664
19,FL50705,California,NaN,High School or Below,816261.71%,66140.0,101.0,1/0/00,Corporate Auto,Four-Door Car,484.800000

- Perform the data cleaning operations mentioned so far in class

In [118]:
#Delete the column education and the number of open complaints from the dataframe.
merged_files = merged_files.drop(['EDUCATION','NUMBER OF OPEN COMPLAINTS'], axis=1)
merged_files.shape

(12074, 9)

In [120]:
#Correct the values in the column customer lifetime value.
#They are given as a percent, so multiply them by 100 and change `dtype` to `numerical` type.


merged_files['CUSTOMER LIFETIME VALUE_CLEANED'] = merged_files['CUSTOMER LIFETIME VALUE'].str.rstrip('%').astype('float') / 100.0
merged_files.head(10)

,CUSTOMER,STATE,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT,CUSTOMER LIFETIME VALUE_CLEANED
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,6979.5359
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,12887.4317
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,7645.8618
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,5363.0765
5,OC83172,Oregon,F,825629.78%,62902.0,69.0,Personal Auto,Two-Door Car,159.383042,8256.2978
6,XZ87318,Oregon,F,538089.86%,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000,5380.8986
7,CF85061,Arizona,M,721610.03%,0.0,101.0,Corporate Auto,Four-Door Car,363.029680,7216.1003
8,DY87989,Oregon,M,2412750.40%,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000,24127.5040
9,BQ94931,Oregon,F,738817.81%,28812.0,93.0,Special Auto,Four-Door Car,425.527834,7388.1781

In [121]:
merged_files.shape

(12074, 10)

In [133]:
#Check for duplicate rows in the data and remove if any.
merged_files = merged_files.drop_duplicates()
merged_files.reset_index(drop=True)

,CUSTOMER,STATE,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT,CUSTOMER LIFETIME VALUE_CLEANED
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,6979.5359
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,12887.4317
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,7645.8618
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,5363.0765
...,...,...,...,...,...,...,...,...,...,...
9130,LA72316,California,M,23405.98798,71941.0,73.0,Personal Auto,Four-Door Car,198.234764,NaN
9131,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000,NaN
9132,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983,NaN
9133,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000,NaN
9134,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000,NaN

In [134]:
merged_files.shape

(9135, 10)

In [137]:
# Filter out the data for customers who have an income of 0 or less.
merged_files[merged_files['INCOME'] >= 0]

,CUSTOMER,STATE,GENDER,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,VEHICLE CLASS,TOTAL CLAIM AMOUNT,CUSTOMER LIFETIME VALUE_CLEANED
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,6979.5359
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,12887.4317
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,7645.8618
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,5363.0765
...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,23405.98798,71941.0,73.0,Personal Auto,Four-Door Car,198.234764,NaN
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000,NaN
7067,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983,NaN
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000,NaN
7069,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000,NaN